.App {
  background-color: #ffffff;
  position: relative;
  height: 100vh;
  
}
p, a, h1, h2, h3{
  font-family: 'Plus Jakarta Sans', sans-serif;

}
.container {
  max-width: 1440px;
  display: flex;
  background: #F6F7F9;
  flex-direction: column;
  align-items: center;
}
.circle-container {
  position: absolute;
  background-color: red;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  translate: -25px -25px;
}
/* NavBar */
.navContainer {
  display: flex;
  background-color: white;
  height: 124px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgba(195, 212, 233, 0.4);
}
.navContainer h1 {
  color: var(--blue);
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 34px;
  font-weight: 300;
}
.navContainer h1 span{
  font-size: 36px;
  font-weight: 600;
}
.search-div{
  width: 492px;
  height: 44px;
  border: 1px solid var(--darkGrey);
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 25px;
}

.search-div input {
 all: unset;
 border: none;
 font-family: 'Plus Jakarta Sans', sans-serif;
 width: 100%;
 padding-left:20px;
 height: 50%;
}
.nav-Icons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;
  width: 236px;
  height: 44px;
}
.nav-Icons button {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 1px solid var(--darkGrey);
}
/* Ad header-content */
.header-container{
  display: flex;
  gap: 25px;
}
.ad1{
  overflow: hidden;
  width: 640px;
  height: 360px;
  border-radius: 10px;
  background-color: #54A6FF;;
}

.adCircles .c1{
  position: absolute;
  width: 50px;
  height: 50px;
  left: 210px;
  top: 280px;
  border-radius: 50%;

  border: 14px solid rgba(255, 255, 255, 0.06);
}
.adCircles .c2{
  position: absolute;
  width: 150px;
  height: 150px;
  left: 155px;
  top: 230px;
  border-radius: 50%;
  border: 20px solid rgba(255, 255, 255, 0.06);
}
.adCircles .c3{
  position: absolute;
  width: 275px;
  height: 275px;
  left: 93px;
  top: 167px;
  border-radius: 50%;
  border: 20px solid rgba(255, 255, 255, 0.06);
}
.adCircles .c4{
  position: absolute;
  width: 400px;
  height: 400px;
  left: 30px;
  top: 105px;
  border-radius: 50%;
  border: 20px solid rgba(255, 255, 255, 0.06);
}
.adCircles .c5{
  position: absolute;
  width: 525px;
  height: 525px;
  left: -32px;
  top: 42px;
  border-radius: 50%;
  border: 20px solid rgba(255, 255, 255, 0.06);
  z-index: 0;
}
.ad2{
  overflow: hidden;
  position: relative;
  width: 640px;
  height: 360px;
  border-radius: 10px;
  background-color: var(--blue);
}
.ad-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px;
  gap: 16px;

  width: 284px;
  height: 160px;
}
.ad-text h3 {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 150%;
  margin: 0;
  color: #FFFFFF;
}
.ad-text p {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  display: flex;
  margin: 0;
  align-items: center;
  letter-spacing: -0.02em;
  color: #FFFFFF;
}
.rental-car-ad-btn{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 20px;
  width: 120px;
  height: 44px;  
  background: #3563E9;
  border: none;
  border-radius: 4px;
  margin: 15px;
}
.rental-car-ad-btn span{
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-style: normal;
  color: white;
  font-size: 16px;
  white-space: nowrap;
}
.second {
  background: #54A6FF;
}
/* Pick Drop */
.pick-drop-container {
  display: flex;
  width: 100%;
  gap: 20px;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.pickdrop-child-container {
  max-width: 582px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 132px;
  border-radius: 10px;
  background-color: #ffffff;
}

.reverse-pick-btn {
  width: 60px;
  height: 60px;
  background: #3563E9;
  border-radius: 10px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.363);
  transition: all .2s ease-in;
}
.reverse-pick-btn:hover {
  cursor: pointer;
  box-shadow: 0 5px 7px 2px rgba(0, 0, 0, 0.363);
  transform: translateY(-3px);
}
.pickdrop-settings-div {
  display: flex;
  gap: 20px;
  align-items: center;
}
.pickdrop-title {
  display: flex;
  gap: 5px;
}
.reverse {
  flex-direction: row-reverse;
}
.settings-sub-div-border {
  padding-left: 20px;
  padding-right: 20px;
  border-right: 1px solid rgba(195, 212, 233, 0.4);
  border-left: 1px solid rgba(195, 212, 233, 0.4);
}
.pickdrop-title h3 {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 16px;
}
.pickdrop-settings-secondary-div {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.toggle-drop-settings-btn{
  all: unset;
  z-index: 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 20px;
  min-width: 20px;
}

.active {
  rotate: -45deg;
}
.toggle-drop-settings-btn:hover{
  cursor: pointer;
}
.settings-secondary-p {
  margin: 0;
  font-size: 12px;
  line-height: 15px;
  color: #90A3BF;
}
.settings-title {
  color: #1A202C;
  margin: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
}
/* main-car-cards */

.main-container {
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.popular-div {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.popular-header {
  display: flex;
  justify-content: space-between;
}
.popular-header h3{
  font-size: 16px;
  line-height: 20px;
  display: flex;
  color: #90A3BF;
}
.popular-header a{
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #3563E9;
}

